.annotate-box {
    width: 30rem;
    border-radius: 25px;
    padding: 18px;
}

.border-pink {
    border-color: #FFC7C7;
}

.annotate-highlight {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.rough-box {
    position: relative;
}

.rough-box::before {
    content: "";
    left: 0em;
    top: 0em;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    border-right-color: transparent;
    width: 100%;
    height: 1em;
    transform: rotate(2deg);
    opacity: 0.5;
    border-radius: 0.25em;
}

.rough-box::after {
    content: "";
    left: 0em;
    top: 0em;
    border-width: 2px;
    border-style: solid;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    width: 100%;
    height: 1em;
    transform: rotate(-1deg);
    opacity: 0.5;
    border-radius: 0.25em;
}

.underline {
    background-image: linear-gradient(120deg, #7af7a9 0%, #FFEB3B 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 200ms ease-in;
}

.underline:hover {
    background-size: 100% 88%;
}


/* ----------------------
    Colors that are used
   ----------------------*/


/* Gradients */

.gradient-sunset {
    background-image: linear-gradient(to right, #F27121cc, #E94057cc, #8A2387cc);
}

.gradient-nordic {
    background-image: linear-gradient(to right, #3B6978, #84A9AC, #CAE8D5);
}

.gradient-summer {
    background-image: linear-gradient(to right, #FFF5A5, #FFAA64, #FF8264, #FF6464);
}

.gradient-sakura {
    background-image: linear-gradient(to right, #FFC7C7, #FFE2E2, #F6F6F6);
}

.gradient-bright {
    background-image: linear-gradient(120deg, #7af7a9 0%, #FFEB3B 100%);
}


/* Colors */

.color-lilac {
    background-color: #8785A2;
    color: white;
}

.color-cream {
    background-color: #F6F6F6;
}

.color-sakura {
    background-color: #FFE2E2;
}

.color-pink {
    background-color: #FFC7C7;
}

.color-nordic {
    background-color: #204051;
    color: white;
}

.color-slate {
    background-color: #3B6978;
    color: white;
}

.color-cenote {
    background-color: #84A9AC;
    color: white;
}

.color-foam {
    background-color: #CAE8D5;
}


/* Borders */

.border-nordic {
    border-color: #204051;
}

.border-nordic::before {
    border-color: #204051;
}

.border-nordic::after {
    border-color: #204051;
}

.border-orange {
    border-color: #F27121cc;
}

.border-orange::before {
    border-color: #F27121cc;
}

.border-orange::after {
    border-color: #F27121cc;
}